[submodule "FreneticDataSyntax"]
	path = FreneticDataSyntax
	url = https://github.com/FreneticLLC/FreneticDataSyntax
[submodule "FreneticScript"]
	path = FreneticScript
	url = https://github.com/FreneticLLC/FreneticScript
